/* Placeholder for CSS file */
.form-check {
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
}

.form-check .invalid-feedback {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: -20px;
}

.form-check-input.is-invalid ~ .invalid-feedback {
    display: block;
}